/* App component css */
.container{
    padding: 20px;
}

/* Header Component css */

.navbar {
    width: 100%;
    height: 50px;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

.logo{
    color: #fff;
    font-size: 20px;
}

.navbar ul{
display: inline-flex;
}

.navbar ul li{
    list-style-type: none;
}


.navbar ul li a{
  color: #fff;
  text-decoration: none;
}

.product{
    width: 200px;
    height: 200px;
    border: 1px solid #ccc;
    margin-bottom: 10rem;
}


.product .img img{
    width: 100%;
    height: 100%;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

