body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.advice{
    background-color: chartreuse;
}

div button{
    background-color: blueviolet;
    color: aliceblue;
    border: 5px solid black;
}

