body{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.advice{
    background-color: chartreuse;
}

div button{
    background-color: rgb(255, 255, 255);
    color: aliceblue;
    border: 1px solid black;
}

