.App{
  text-align: center;
}

.container{
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}


.heading{
  font-size: 2rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #0c19cf;
}

.form-control{
  display: flex;
  margin-bottom: 1rem;
}

.form-control label{
  flex: 1;
  font-weight: bold;
  margin-right: 1rem;
}

.form-control input{
  flex:3;
  padding: 0.5rem;
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: #f7f7f7;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.btn{
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #2bad11;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  transition: background-color 0.3s ease;

}

.btn:hover{
  background-color: #1d6d0d;
}


.btn-2{
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  transition: background-color 0.3s ease;

}

.btn-2:hover{
  background-color: #e40505;
}

.btn-3{
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #0c19cf;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  transition: background-color 0.3s ease;

}

.btn-3:hover{
  background-color: #270d6d;
}

.students{
  margin-top: 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.add-students{
  text-align: center;
  margin-top: 2rem;
}

.add-student input[type='submit']{
  background-color: #0c19cf;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-student input[type='submit']:hover{
  background-color: #0b52d6;
}

table{
  width: 100%;
  border-collapse: collapse;
  border: px solid #ccc;
}

th, td{
  padding: 0.5rem;
  text-align: left;
  border: px solid #ccc;
}

th{
  background-color: #3498db;
  font-weight: bold;
  color: #fff;
}

td{
  vertical-align: middle;
}

td:last-child{
  text-align: center;
}

@media screen and (max-width: 768px) {
  .form-control{
    flex-direction: column;
  }
  .form-control label
  {
margin-bottom: 0.5rem;
  }
  .form-control input{
    margin-bottom: 1rem;
  }
}

body{
  background-color: #f7f7f7;
}