body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(158, 158, 158);
}

div {
  background-color: rgb(252, 253, 253);
  border: solid 1px black;
}

h1 {
  background-color: rgb(250, 250, 250);
  margin: 10px;
  border: solid 1px rgb(0, 0, 0);
}

h2 {
  margin: 10px;
}
button {
  background-color: rgb(252, 252, 252);
  color: rgb(5, 5, 5);
  border: white;
  margin: 10px;
  border: solid 1px rgb(0, 0, 0);
  font-weight: 900;
  padding: 10px;
  text-transform: uppercase;
}

