@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

#root{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  min-height: 100vh;
  margin: 0;
}

h3{
  margin: 10px 0;

}

h6{
  margin: 5px 0;
  text-transform: uppercase;
}


.card-container img{
  height: 200px;
  margin-bottom: 20px;
}

p{
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.card-container{
  background-color: #353b48;
  border-radius: 5px;
  box-shadow: 0px 10px 20px -10px rgba(0, 0, 0, 0.75);
  color: #b3b8cd;
  padding-top: 30px;
  width: 350px;
  max-width: 100%;
  text-align: center;
}

.pro{
  color:#231e39;
  background-color: red;
  font-size: 14px;
  font-weight: bold;
  padding: 3px 7px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.online{
  background-color: greenyellow;
}

.offline{
  background-color: #febb0b;
}

.img{
  border: 3px solid #231e39;
}